# Global
.DS_Store
.env
.env.* # if you use multiple env files

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend (Vite/React)
client/dist/
client/.vite/

# Backend (Express)
server/dist/

# VSCode & IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# OS junk
Thumbs.db
